.content {
  margin: 20px;
  padding: 40px;
}

h3 {
  margin-bottom: 80px;
  font-weight: 50;
  text-align: center;
}

.wrapper {
  text-align: center;
}

.options {
  display: inline-flex;
  align-content: center;
}

mat-checkbox {
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 800;
  margin-bottom: 30px;
}

.saveButton {
  padding: 20px;
  transition-duration: 0.4s;
  height: 50px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  margin-right: 10px;
}

.saveButton:hover {
  background-color: greenyellow;
  color: white;
}

.closeButton {
  padding: 20px;
  transition-duration: 0.4s;
  height: 50px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  margin-left: 10px;
}

.closeButton:hover {
  background-color: red;
  color: white;
}

.buttons {
  text-align: center;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
}

h5 {
  margin-top: 30px;
  font-weight: 100;
}

