<div class="content">
  <h1>Edit Request</h1>
  <h3><b>Request Id:</b>
    <p>{{requestId}}</p>
  </h3>

  <div class="wrapper">
    <mat-form-field>
      <mat-select [(ngModel)]="request.state" placeholder="State">
        <mat-option value="0">{{stateRequests[0]}}</mat-option>
        <mat-option value="1">{{stateRequests[1]}}</mat-option>
        <mat-option value="2">{{stateRequests[2]}}</mat-option>
        <mat-option value="3">{{stateRequests[3]}}</mat-option>
        <mat-option value="4">{{stateRequests[4]}}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input [(ngModel)]="request.TestDate" matInput type="datetime-local" value="" placeholder="Test Date" [min]="minDate">
      <mat-hint>Date must be between 8AM and 8PM with 10 minute gap</mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="request.result" placeholder="Result">
        <mat-option >None</mat-option>
        <mat-option value=true>Positive</mat-option>
        <mat-option value=false>Negative</mat-option>
      </mat-select>
    </mat-form-field><br>

    <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">
      <h5>Result File</h5>
      <input type="file" name="profile" accept="application/pdf" (change)="onFileSelect($event)"><br>

      <div class="buttons">
        <button mat-raised-button class="saveButton" type="submit" (click)="updateRequest()">Save</button>
        <button mat-raised-button class="closeButton" (click)="close($event)">Close</button>
      </div>
    </form>
  </div>
</div>
