.content{
  margin: 20px;
  padding-left: 10%;
}

h3{
  margin-top: 30px;
  font-weight: 50;
}

h1{
  text-align: center;
  font-weight: 800;
}

table {
  width: 100%;
  align-self: center;
  align-content: center;
}

.tableFooter{
  display: inline-flex;
}

.createButton{
  padding: 20px;
  transition-duration: 0.4s;
  position: relative;
  height: 50px;
  padding-top: 10px;
}

.createButton:hover{
  background-color: greenyellow;
  color: white;
}

.deleteButton{
  background-color: red;
  color: white;
}

p{
  padding-top: 20px;
}
