<div class="content">
  <h1>Requests</h1>
  <div>
    <div class="filters">
      <h3><b>Filters</b></h3>
      <mat-form-field>
        <mat-select [(ngModel)]="filters.state" placeholder="State">
          <mat-option value="undefined">All</mat-option>
          <mat-option value="0">Not Schedule</mat-option>
          <mat-option value="1">Schedule</mat-option>
          <mat-option value="2">In Lab</mat-option>
          <mat-option value="3">Done</mat-option>
          <mat-option value="4">Missed</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="filters.redirected" placeholder="Redirected">
          <mat-option value="undefined">All</mat-option>
          <mat-option value=true>Yes</mat-option>
          <mat-option value=false>No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="filters.riskGroup" placeholder="RiskGroup">
          <mat-option value="undefined">All</mat-option>
          <mat-option value=true>Yes</mat-option>
          <mat-option value=false>No</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-select [(ngModel)]="filters.result" placeholder="Result">
          <mat-option value="undefined">All</mat-option>
          <mat-option value=true>Positive</mat-option>
          <mat-option value=false>Negative</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field *ngIf="user.role!=0">
        <mat-select [(ngModel)]="filters.user" placeholder="User">
          <mat-option value="undefined">All</mat-option>
          <mat-option *ngFor="let u of users" value="{{u._id}}">{{u.userName}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <input [(ngModel)]="filters.TestDate" #input matInput [matDatepicker]="picker" placeholder="Test Date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <button mat-button (click)="resetDate()">Reset Date</button>

      <button mat-button (click)="search()">Search</button>
    </div>

    <div class="requestsList">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let request">{{request._id}}</td>
        </ng-container>

        <ng-container matColumnDef="State">
          <th mat-header-cell *matHeaderCellDef> State </th>
          <td mat-cell *matCellDef="let request"> {{stateRequests[request.state]}} </td>
        </ng-container>

        <ng-container matColumnDef="User">
          <th mat-header-cell *matHeaderCellDef> User </th>
          <td mat-cell *matCellDef="let request">
            <a *ngIf="getUser(request.userId)" routerLink='/user-detail/{{request.userId}}'>{{currentRequestUser}}</a>
            <p *ngIf="currentRequestUser=='Not Found'">Not Found</p>
          </td>
        </ng-container>

        <ng-container matColumnDef="Test Date">
          <th mat-header-cell *matHeaderCellDef> Test Date </th>
          <td mat-cell *matCellDef="let request">
            {{request.TestDate | date}}
            <div *ngIf="request.TestDate==undefined">No Date</div>
          </td>
        </ng-container>

        <ng-container matColumnDef="Actions">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let request">
            <button *ngIf="currentRequestUser!='Not Found'" mat-stroked-button (click)="getRequestDetails(request._id)">
              <mat-icon>open_in_new</mat-icon>
            </button>
            <button *ngIf="user.role != 0" mat-stroked-button color="warn" (click)="deleteRequest(request._id)">
              <mat-icon>delete_outline</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noData">
          <mat-footer-cell *matFooterCellDef colspan="5">
            <div *ngIf="requests.length==0">No Requests Available</div>
          </mat-footer-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <mat-footer-row *matFooterRowDef="['noData']"></mat-footer-row>
      </table>

      <div class="tableFooter">
        <button mat-raised-button (click)="createRequest()" class="createButton">
          <mat-icon>add</mat-icon>Create
        </button><br>
        <mat-paginator class="paginator" [pageSizeOptions]="[10, 25, 50]" [pageSize]="10" showFirstLastButtons>
        </mat-paginator>
      </div>
    </div>
  </div>
</div>
