<nav class="navbar navbar-expand navbar-dark bg-dark" style="justify-content: space-between;">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive='active current'>
        <a class="nav-item nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item" routerLinkActive='active current'>
        <a class="nav-item nav-link" routerLink="/requests">Requests</a>
      </li>
      <li class="nav-item" routerLinkActive='active current'>
        <a *ngIf="roleTechnic" class="nav-item nav-link" routerLink="/user-list">Users</a>
      </li>
    </ul>
  </div>
  <div class="navbar-nav">
    <button mat-icon-button color="white" [matMenuTriggerFor]="beforeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <a routerLink="/user-detail/{{user._id}}">
        <button mat-menu-item>
          <mat-icon>person_outline</mat-icon>
          My Profile
        </button>
      </a>
      <button *ngIf="roleAdmin" mat-menu-item (click)="isAutoSchedule()" id="toggle-linear">
        <mat-icon>schedule</mat-icon>
        {{!autoSchedule ? 'Enable AutoSchedule' : 'Disable AutoSchedule'}}
      </button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon>
        Sign out
      </button>
    </mat-menu>
  </div>
</nav>
