.button{
  display: inline-block;
  background-color: #333533;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 10px;
  border-radius: 15px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

/* ^^ To do the grey/black buttons, used for the search and view profiles buttons */

select {
  width: 100%;
  padding: 16px 20px;
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
}

.example-full-width {
  width: 100%;
}
/* ^ Used for the search inputs ^ */

.divs {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.center{
  text-align: center;
}

table{
  width: 100%;
 }

 /* ^ Simple CSS ^ */

 .mat-cell{
  border: none !important;
}
/* ^ To remove the border lines bettween rows ^ */
