<h1 class="center"><i class="fas fa-users"></i> User List</h1>
<div class="center divs">
  <div>
    <div>
      <!--Botao de pesquisa colapsado-->
      <button gradient="blue" type="button" class="btn btn-outline-primary"
        (click)="isCollapsedSearch = !isCollapsedSearch" [attr.aria-expanded]="!isCollapsedSearch"
        aria-controls="collapseSearch">
        Search
      </button>
      <span *ngIf="actualUserRole == 2">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <!--Botao de admin colapsado-->
        <button gradient="blue" type="button" class="btn btn-outline-primary"
          (click)="isCollapsedAdmin = !isCollapsedAdmin" [attr.aria-expanded]="!isCollapsedAdmin"
          aria-controls="collapseAdminControls">
          Admin Area
        </button>
      </span>
    </div>
    <br>
  </div>

  <div class="divs">
    <!--Area colapsada do admin-->
    <div id="collapseAdminControls" [ngbCollapse]="isCollapsedAdmin">
      <p class="center">
        <button mat-stroked-button (click)="addUser(false)"><span class="fas fa-user-plus"> Add
            User</span></button>
        |
        <button mat-stroked-button (click)="addUser(true)"><span class="fas fa-flask"> Add
            Tecnico</span></button>
      </p>
    </div>
    <!--Area de pesquisa colapsada-->
    <div id="collapseSearch" [ngbCollapse]="isCollapsedSearch">
      <div>
        <mat-form-field class="example-full-width">
          <mat-label><i class="fas fa-user"></i> Search for Names...</mat-label>
          <input matInput [(ngModel)]="filters.name" placeholder="Ex: Tóze Alves">
        </mat-form-field>

        <mat-form-field class="example-full-width">
          <mat-label><i class="fas fa-phone"></i> Search for Phone Numbers...</mat-label>
          <input matInput type="search" [(ngModel)]="filters.phoneNumber" placeholder="Ex: 913789543"
            pattern="[9][1-6][0-9]{7}" />
        </mat-form-field>

        <h6>State:</h6>
        <select [(ngModel)]="filters.state">
          <option value="undefined">All</option>
          <!--uso [ngValue] quando uma das opcoes for selecionada o valor vai ser 0: item0, 1: item1, 2: item2-->
          <option *ngFor="let s of stateUsers" [ngValue]="s">
            {{s}}
          </option>
        </select>

        <p class="center">
          <button class="button" (click)="search()"><span><i class="fas fa-search"></i> Search</span></button>
        </p>
      </div>
    </div>
  </div>

  <div>
    <table mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="users">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <p class="mat-elevation-z8">
            <br>
            <span>
              <h4><i *ngIf="element.role == 0" class="far fa-user"></i><i *ngIf="element.role == 1"
                  class="fas fa-user-md"></i><i *ngIf="element.role == 2" class="fas fa-gavel"></i>
                {{element.name}}</h4>
            </span>
            <button class="button" routerLink="/user-detail/{{element._id}}">
              <i class="fas fa-id-card"></i> &nbsp;
              View Profile
            </button>
          </p>
        </td>
      </ng-container>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>

</div>
