<div class="content">
  <mat-card>
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions"
      style="width: 100%; height: 400px; display: block;"></highcharts-chart>
  </mat-card>
  <br>
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">In Laboratory: {{laboratory}}</mat-card>
    <mat-card fxFlex="25">Infected: {{infected}}</mat-card>
    <mat-card fxFlex="25">Not Infected: {{not_infected}}</mat-card>
    <mat-card fxFlex="25">Suspect: {{suspect}}</mat-card>
  </div>
  <br>
  <div *ngIf="userRole" fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">Done: {{done}}</mat-card>
    <mat-card fxFlex="25">Missed: {{missed}}</mat-card>
    <mat-card fxFlex="25">Not Schedule: {{not_Schedule}}</mat-card>
    <mat-card fxFlex="25">Schedule: {{schedule}}</mat-card>
  </div>
</div>
