<!-- Este ng-template é o html do Dialog modal para confirmar o delete -->
<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title">Confirm</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p>Do you really want to delete the profile&hellip;</p>
    </div>
    <div class="modal-footer">
        <button type="button" mat-button color="warn" (click)="deleteUser(user._id)">Confirm</button>
        <button type="button" mat-button (click)="modal.close('Close click')">Close</button>
    </div>
</ng-template>

<div *ngIf="user" style="width: 50%; margin-left: auto; margin-right: auto; text-align: center;">
    <div class="mat-elevation-z8" style="margin-top: 1rem; margin-left: auto; margin-right: auto; width: 50%;">
        <h1>User Profile</h1>
    </div>
    <div class="mat-elevation-z8">
        <br>
        <h2>Name</h2>
        <p>{{user.name}}</p>
        <h2>ID</h2>
        <p>{{user._id}}</p>
        <h2>UserName</h2>
        <p>{{user.userName}}</p>
        <h2>Phone Number</h2>
        <p>{{user.phoneNumber}}</p>
        <div *ngIf="!user.phoneNumber">
            <p>Please update your profile and provide a phone number!</p>
        </div>

        <h2>State</h2>
        <p>{{getStateByID(user.state)}}</p>
        <br>
    </div>
    <div>
        <button *ngIf="isAuthorizedPeople()" class="button" (click)="listUsers()"><span class="fas fa-users"> Back to List</span></button>
        <button *ngIf="isHimselfOrAuthorizedPeople()" class="button" (click)="updateUser(user._id)"><span class="fas fa-edit"> Edit</span></button>
        <button *ngIf="isUserOrAdmin()" class="button" (click)="openModal(content)" ><span class="fa fa-trash"> Delete</span></button>
    </div>
</div>
