.content {
  margin: 20px;
}

button {
  margin: 10px;
}

h3 {
  margin-bottom: 30px;
  font-weight: 50;
  text-align: center;
}

h1 {
  text-align: center;
  font-weight: 800;
}

.firstLine {
  display: flex;
}

.secondLine {
  display: flex;
  padding-bottom: 20px;
}

.thirdLine {
  padding-bottom: 20px;
  text-align: center;
}

mat-list {
  display: block;
}

p {
  margin-left: 10px;
  margin-top: 16px;
}

.editButton {
  padding: 20px;
  transition-duration: 0.4s;
  position: relative;
  height: 50px;
  padding-top: 10px;
  width: 200px;
}

.editButton:hover {
  background-color: lightskyblue;
  color: white;
}

.deleteButton {
  padding: 10px;
  transition-duration: 0.4s;
  position: relative;
  height: 50px;
  padding-top: 10px;
  background-color: white;
  color: red;
  width: 50px;
}

.deleteButton:hover {
  background-color: red;
  color: white;
}

.buttons {
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}

label {
  margin-top: 20px;
}

.viewButton{
  padding-right: 3%;
}
