<div class="content">
  <div *ngIf="request" class="request">
    <h1>Request Details</h1>
    <h3><b>Id:</b> {{request._id}}</h3>
    <h3><b>User:</b> {{user.userName}}</h3>

    <mat-list>
      <div class="firstLine">
        <mat-list-item>
          <b>State:</b>
          <p>{{stateRequests[request.state]}}</p>
        </mat-list-item>
        <mat-list-item>
          <b>Test Date:</b>
          <div *ngIf="request.TestDate==undefined">
            <p>No Date</p>
          </div>
          <p>{{request.TestDate | date:'EEEE dd-MM-yyyy h:mm a'}}</p>
        </mat-list-item>
        <mat-list-item>
          <b>Redirected:</b>
          <p>{{request.redirected}}</p>
        </mat-list-item>
      </div>
      <div class="secondLine">
        <mat-list-item>
          <b>Risk Group:</b>
          <p>{{request.riskGroup}}</p>
        </mat-list-item>
        <mat-list-item>
          <b>Result:</b>
          <p *ngIf="request.result == undefined">Waiting for result</p>
          <p *ngIf="request.result != undefined">{{request.result }}</p>
        </mat-list-item>
        <mat-list-item>
          <b>Updated At:</b>
          <p>{{request.updated_at | date:'EEEE dd-MM-yyyy h:mm a'}}</p>
        </mat-list-item>
      </div>

      <div class="thirdLine" *ngIf="request.resultFile != undefined">
        <a class="viewButton" href="http://localhost:5000/api/request/file/{{request._id}}" target="_blank"><b>View File</b></a>
        <input class="downloadButton" type="button" (click)="download()" value="Download File" />
      </div>


      <div class="buttons">
          <button mat-raised-button *ngIf="currentUser.role!=0" class="editButton" (click)="updateRequest()">Edit</button>
        <button mat-raised-button class="deleteButton" (click)="deleteRequest()" mat--fab color="warn">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-list>
  </div>
</div>
