<!-- main app container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 offset-sm-3">
        <form [formGroup]="loginForm" (submit)="handleSubmit($event)">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" formControlName="username" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
              <div *ngIf='f.username.errors.required == true'>Username is required</div>
            </div>
            <div *ngIf="f.username.errors" class="invalid-feedback">
              <div *ngIf="f.username.errors.minlength">Username must be at least 4 characters long.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" formControlName="password" class="form-control"
              [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
              <div *ngIf='f.password.errors.required == true'>Password is required</div>
            </div>
            <div *ngIf="f.password.errors" class="invalid-feedback">
              <div *ngIf="f.password.errors.minlength">Username must be at least 4 characters long.</div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="btn btn-primary">
              <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
              Login
            </button>
            <a routerLink="/register" class="btn btn-link">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>


