<!-- Este ng-template é o html do Dialog modal para confirmar o update -->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Confirm</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Do you really want to update the profile&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" mat-button style="color: #aacc00" (click)="updateUser()">Confirm</button>
    <button type="button" mat-button (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>

<div *ngIf="actualUserId == userData._id || actualUserRole != 0"
  style="width: 50%; margin-left: auto; margin-right: auto;">
  <h1 class="display-3" style="text-align: center;">Profile Edit</h1>
  <div>
    <p *ngIf="actualUserRole != 1 || actualUserId == userData._id">
      <label for="name">Name</label>
      <input [(ngModel)]="userData.name" placeholder="New name" class="form-control" />
    </p>
    <!-- Só o admin pode mudar o username -->
    <p *ngIf="actualUserRole == 2 ">
      <label for="userName">Username</label>
      <input [(ngModel)]="userData.userName" placeholder="New username" class="form-control" />
    </p>
    <p *ngIf="actualUserRole != 1 || actualUserId == userData._id">
      <mat-form-field style="width: 100%;">
        <mat-label><b>Password</b></mat-label>
        <input matInput placeholder="New password" [type]="hide1 ? 'password' : 'text'" [(ngModel)]="userData.password"
          (ngModelChange)="passwordConfirmation=''; hide2=true">
        <!-- Quando este campo muda, o campo reintroduce password fica limpo e volta a ser do tipo password -->
        <mat-icon matSuffix (click)="hide1 = !hide1">{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>

      <mat-form-field style="width: 100%;" *ngIf="userData.password != undefined && userData.password != ''">
        <mat-label><b>Reintroduce Password</b></mat-label>
        <input matInput placeholder="Reintroduce new password" [type]="hide2 ? 'password' : 'text'"
          [(ngModel)]="passwordConfirmation">
        <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
        <mat-hint>Hint: Has to be the same as the Password</mat-hint>
      </mat-form-field>
    </p>
    <p *ngIf="actualUserRole != 1 || actualUserId == userData._id">
      <label for="phoneNumber">Phone Number</label>
      <input type="tel" [(ngModel)]="userData.phoneNumber" placeholder="New phone number" class="form-control" />
    </p>
    <p *ngIf="actualUserRole != 0">
      <mat-form-field style="width: 100%;">
        <mat-label><b>New State</b></mat-label>
        <select matNativeControl [(ngModel)]="userData.state">
          <!--usar [ngValue]quando uma das opçoes é selecionada o valor vai ser 0: item0, 1: item1, 2: item2-->
          <option *ngFor="let s of stateUsers" [ngValue]="s">
            {{s}}
          </option>
        </select>
      </mat-form-field>
    </p>

    <div class="finalButtons">
      <button (click)="openModal(content)" class="btn btn-primary">Update</button>
      <a routerLink="/user-detail/{{userData._id}}" class="btn btn-link">Cancel</a>
    </div>
  </div>
</div>
