.content{
  margin: 20px;
  padding: 40px;
}

.options{
  display: inline-flex;
  align-content: center;
}

mat-checkbox {
  padding: 20px;
}

h1{
  text-align: center;
  font-weight: 800;
  padding-bottom: 10%;
}

.createButton{
  padding: 20px;
  transition-duration: 0.4s;
  height: 50px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  margin-right: 10px;
}

.createButton:hover{
  background-color: greenyellow;
  color: white;
}

mat-form-field{
  left: 50%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.closeButton {
  padding: 20px;
  transition-duration: 0.4s;
  height: 50px;
  padding-top: 10px;
  margin: 0;
  position: relative;
  margin-left: 10px;
}

.closeButton:hover{
  background-color: red;
  color: white;
}

.buttons{
  text-align: center;
  justify-content: space-between;
  padding: 10px;
}


