<div class="content">
  <h1>Create Request</h1>

  <div>
    <mat-form-field *ngIf="user.role==2">
      <mat-select [(ngModel)]="userSelected" placeholder="User" required placeholder="Select User">
        <mat-option *ngFor="let u of users" value="{{u._id}}">>{{u.userName}}</mat-option>
      </mat-select>
    </mat-form-field><br>

    <div class="options">
      <mat-checkbox labelPosition='before' color='primary' [(ngModel)]="request.redirected">Redirected
      </mat-checkbox><br>

      <mat-checkbox labelPosition='before' color='primary' [(ngModel)]="request.riskGroup">Risk Group
      </mat-checkbox><br>
    </div>

    <div class="buttons">
      <button mat-raised-button (click)="createRequest()" class="createButton">Create</button>
      <button mat-raised-button (click)="close()" class="closeButton">Close</button>
    </div>
  </div>
</div>
